/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.hide {
    display: none;
}

.qrcode {
    width: 100%;
    border: 1px dotted;
}

#qrCode_text {
    align-items: center;
    display: flex;
    border: none;
    width: 50%;
    float: left;
}

.copy_clipboard {
    align-items: center;
    display: flex;
    margin-left:auto;
}